$color-primar1:#FF4858;
$color-primar2:#8F65FF;

$color1: #F6F7F8;
$color2: #2E90E5;
$color3: #FFFFFF;
$color4: #262626;
$color5: #C1C8CE;
$color6: #22262A;
$color7: #FF4858;
$color8: #8F65FF;
$color9: #FF6875;
$color10: #FFC600;
$color11: #33A0FF;
$color12: #FF4252;
$color13: #FAFAFB;
$color14: #F1F3F4;
$color15: #006CFF;
$color16: #2678BF;
$color17: #E5E8EA;
$color18: #0AD00A;
$color19: #9E7AFF;
$color20: #0D2840;
$color21: #19507F;
// //////////////////////////////
$grid-width:135rem;
$space-vertical:8rem;
$space-vertical-small:6rem;
$space-horizonal:3rem;